@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

.banner{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1A1A1A;
    color: #FFF;
}

.banner li{
    display: inline-block;
    margin-right: 16px;
}

.title{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}
